.site-hero {
  min-height: 600px;
  background-image: url(/images/background-image.png);
  background-repeat: no-repeat;
  background-position: center top;
}
@media screen and (max-width: 767px) {
  .site-hero {
    background-image: url(/images/background.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .site-hero {
    background-image: url(/images/background-image2@.jpg);
  }
}

@media screen and (min-width: 768px) {
  .site-hero {
    background-image: url(/images/background-tablet.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .site-hero {
    background-image: url(/images/background-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .site-hero {
    background-image: url(/images/background-image.png);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 1200px),
  screen and (min-resolution: 192dpi) and (max-width: 1200px),
  screen and (min-resolution: 2dppx) and (max-width: 1200px) {
  .site-hero {
    background-image: url(/images/background-image2@.jpg);
  }
}
