.mobile-menu {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: bisque;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__container {
  position: relative;
}
.mobile-menu__wrapper {
  display: flex;
  flex-direction: column;
  gap: 150px;
}
.mobile-menu__close-btn {
  position: absolute;
  top: 10px;
  right: 25px;
  padding: 0;
}
.mobile-menu__close-btn {
  border: none;
  background-color: transparent;
  line-height: none;
}
.mobile-menu__close-icon {
  width: 18px;
  height: 18px;
}
.mobile-menu__nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 32px;
  margin-bottom: 32px;
  padding-left: 25px;
}
.mobile-menu__nav-item {
  color: var(--text-color);
  & {
    font-family: Roboto, sans-serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 46.88px;
    letter-spacing: 0.02em;
    text-align: left;
  }
}
.mobile-menu__contacts {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 32px;
  margin-bottom: 32px;
  padding-left: 25px;
}
.mobile-menu__contacts-item {
  color: var(--text-color);
  & {
    font-family: Roboto, sans-serif;
    font-size: 34px;
    font-weight: 500;
    line-height: 39.84px;
    letter-spacing: 0.02em;
    text-align: left;
  }
}
.mobile-menu__contacts {
  display: flex;
  justify-content: space-between;
  padding-left: 25px;
}
.mobile-menu__social-app-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 32px;
  padding-left: 17px;
}
.mobile-menu__social-app-list-item {
  color: var(--focus-color);
  & {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.02em;
    text-align: left;
  }
}
.mobile-menu__line {
  width: 1px;
  height: 22px;
  background-color: var(--text-color);
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
